/* Componentes */
#header-container {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
#page-container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

#sidebar-container {
  position: sticky;
  margin-top: 100px;
  height: 100%;
}
#main-container {
  border-radius: 20px;
  right: 0;
  margin-top: 100px;
  margin-left: 40px;
  margin-bottom: 60px;
  width: 65%;
  max-width: 100%;
  overflow: auto;
  flex: auto;
  height: 100%;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}
#footer {
  position: absolute;
  margin-top: 50px;
}
