/* Estilos generales */
:root {
    --primary: #4978F0;
    --primary-light: #E1EEF5;
    --secondary: #1D1D1D;
    --background: #F4F1FF;
    --text: #111;
}
body {
    font-size: 15rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Mulish, sans-serif;
}
.p-bold{
    padding: 10px;
    font-weight: bold;
}
.p-light{
    font-weight: lighter;
    font-size: 18px;
}