<span class="navigation__group">
  <!-- Logo y Titulo -->
  <div class="logo-company d-flex align-items-center">
    <img src="/src/resources/logos/logo_web_2.png" alt="logo-serviplace" width="50" />
    <h2 class="icon-title">SERVIPLACE</h2>
  </div>
  <!-- Perfil y Chat -->
  <div class="profile-group d-flex">
    <i class="icon bi-chat-dots-fill"></i>
    <img class="profile" src="/src/resources/img/profile-blank.svg" alt="Joe Doe Picture" />
  </div>
</span>
<div class="dropdown__wrapper hide dropdown__wrapper--fade-in none">
  <div class="dropdown__group">
    <div class="user-name">Matias Capo</div>
    <div class="email">matias@gmail.com</div>
  </div>
  <hr class="divider" />
  <nav>
    <ul>
      <li><img src="/src/resources/navBar/help.svg" alt="Help" />
        <a href="#">Ayuda</a>
      </li>
    </ul>
    <hr class="divider" />
    <ul>
      <li style="color: #e3452f">
        <img src="/src/resources/navBar/logout.svg" alt="Log Out" />
        <a id="log_out" href="#">Log Out</a>
      </li>
    </ul>
  </nav>
</div>
<style>
  /* Estilos generales */
  :root {
    --primary: #fff;
    --text: #0f192d;
    --text-gray: #5a678c;
    --gray: #c0bcff;
    --error: #e3452f;
  }

  body {
    font-family: Mulish, sans-serif;
    margin: 0;
  }

  * {
    box-sizing: border-box;
  }

  /* Barra */
  header {
    position: fixed;
    height: 80px;
    padding: 0 16px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: var(--primary);
    justify-content: space-between;
    filter: drop-shadow(-20px 0 10px rgba(0, 0, 0, 0.1));
  }

  .navigation__group {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }

  .profile-group {
    padding: 20px;
  }

  .icon {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 10px;
    width: 50px;
    height: 50px;
    transition: all 0.2s ease-in-out;
    font-size: 30px;
  }

  .profile-group>.icon:hover {
    transform: scale(1.1);
  }

  .logo-company {
    margin-left: 15px;
    padding-left: 10px;
    transition: all 0.2s ease-in-out;
  }

  .logo-company:hover {
    transform: scale(1.1);
  }

  .icon-title {
    padding-left: 10px;
  }

  .user-name {
    font-size: 14px;
    font-weight: 700;
    text-align: left;
    color: var(--text);
  }

  .profile {
    display: block;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
    border: 3px solid #f7f7f7;
    filter: drop-shadow(-20px 0 10px rgba(0, 0, 0, 0.1));
  }

  .email {
    color: var(--text-gray);
  }

  /* Dropdown */
  .dropdown__wrapper {
    width: 10px;
    top: 88px;
    right: 10px;
    position: absolute;
    border-radius: 8px;
    border: 1px solid var(--text-gray);
    /* display: flex; */
    /* flex-direction: column; */
    gap: 4px;
    animation: fadeOutAnimation ease-in-out 0.3s forwards;
    background-color: #fff;
  }

  .dropdown__wrapper--fade-in {
    animation: fadeInAnimation ease-in-out 0.3s forwards;
  }

  .none {
    display: none;
  }

  .hide {
    opacity: 0;
    visibility: hidden;
    animation: fadeOutAnimation ease-in-out 0.3s forwards;
  }

  @keyframes fadeInAnimation {
    0% {
      opacity: 0;
      visibility: hidden;
      width: 160px;
    }

    100% {
      opacity: 1;
      visibility: visible;
      width: 240px;
    }
  }

  @keyframes fadeOutAnimation {
    0% {
      opacity: 1;
      width: 240px;
      visibility: visible;
    }

    100% {
      opacity: 0;
      width: 160px;
      visibility: hidden;
    }
  }

  .dropdown__group {
    padding: 12px;
  }

  .divider {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  nav>ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 4px;
  }

  nav>ul>li {
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    padding-left: 8px;
    width: 100%;
  }

  nav>ul>li>img {
    height: 24px;
    width: 24px;
  }

  nav>ul>li:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  li>a {
    text-decoration: none;
    color: var(--text);
  }

  li>a:hover {
    text-decoration: none;
    color: var(--gray);
  }
</style>