/* Componentes */

#header-container {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

#sidebar-container {
  margin-top: 100px; 
}
#main-container {
  border: 1px solid;
  margin-top: 100px; 
  margin-left: 10px; 
  width: 100%;
}
